In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [6]:
credits_path = r"C:\Users\Admin\Downloads\csv\tmdb_5000_credits.csv"
movies_path  = r"C:\Users\Admin\Downloads\csv\tmdb_movies_data.csv"

In [7]:
credits = pd.read_csv(credits_path)
movies = pd.read_csv(movies_path)

In [8]:
movies.head(2)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08

In [9]:
movies.shape

(10866, 21)

In [10]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [44]:
print(movies.columns)
print(credits.columns)

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [45]:
movies.rename(columns={"original_title": "title"}, inplace=True)

In [46]:
movies = movies.merge(credits,on='title')

In [47]:
movies.head()
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)

,id,imdb_id,popularity,budget,revenue,title,cast_x,homepage,director,tagline,...,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,movie_id,cast_y,crew
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,"[C, h, r]",http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09,135397,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,"[T, o, m]",http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08,76341,"[{""cast_id"": 2, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""577da370c3a36817f8003838"", ""de..."
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,"[S, h, a]",http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08,262500,"[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...","[{""credit_id"": ""55c1cd8b9251410f1900448b"", ""de..."
3,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,"[V, i, n]",http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09,168259,"[{""cast_id"": 17, ""character"": ""Dominic Toretto...","[{""credit_id"": ""52fe4cc8c3a36847f823e699"", ""de..."
4,281957,tt1663202,9.110700,135000000,532950503,The Revenant,"[L, e, o]",http://www.foxmovies.com/movies/the-revenant,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)",...,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,124199945.4,4.903142e+08,281957,"[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...","[{""credit_id"": ""568fae529251411895001f8d"", ""de..."

In [50]:
movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'title', 'cast_x',
       'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime',
       'genres', 'production_companies', 'release_date', 'vote_count',
       'vote_average', 'release_year', 'budget_adj', 'revenue_adj', 'movie_id',
       'cast_y', 'crew'],
      dtype='object')

In [51]:
movies = movies[['movie_id','title','overview','genres','keywords','cast_y','crew']]

In [52]:
movies.head()

,movie_id,title,overview,genres,keywords,cast_y,crew
0,135397,Jurassic World,"[Twenty-two, years, after, the, events, of, Ju...",Action|Adventure|Science Fiction|Thriller,monster|dna|tyrannosaurus rex|velociraptor|island,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
1,76341,Mad Max: Fury Road,"[An, apocalyptic, story, set, in, the, furthes...",Action|Adventure|Science Fiction|Thriller,future|chase|post-apocalyptic|dystopia|australia,"[{""cast_id"": 2, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""577da370c3a36817f8003838"", ""de..."
2,262500,Insurgent,"[Beatrice, Prior, must, confront, her, inner, ...",Adventure|Science Fiction|Thriller,based on novel|revolution|dystopia|sequel|dyst...,"[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...","[{""credit_id"": ""55c1cd8b9251410f1900448b"", ""de..."
3,168259,Furious 7,"[Deckard, Shaw, seeks, revenge, against, Domin...",Action|Crime|Thriller,car race|speed|revenge|suspense|car,"[{""cast_id"": 17, ""character"": ""Dominic Toretto...","[{""credit_id"": ""52fe4cc8c3a36847f823e699"", ""de..."
4,281957,The Revenant,"[In, the, 1820s,, a, frontiersman,, Hugh, Glas...",Western|Drama|Adventure|Thriller,father-son relationship|rape|based on novel|mo...,"[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...","[{""credit_id"": ""568fae529251411895001f8d"", ""de..."

In [57]:
import ast
import pandas as pd

def convert(text):
    # Case 1: Missing values
    if pd.isna(text):
        return []
    
    # Case 2: Already pipe-separated string
    if "|" in text:
        return text.split("|")
    
    # Case 3: JSON-like string
    try:
        return [i["name"] for i in ast.literal_eval(text)]
    except:
        return []

In [58]:
movies.dropna(inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10940\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [59]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_10940\1163378803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

,movie_id,title,overview,genres,keywords,cast_y,crew
0,135397,Jurassic World,"[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, Science Fiction, Thriller]",monster|dna|tyrannosaurus rex|velociraptor|island,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
1,76341,Mad Max: Fury Road,"[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, Science Fiction, Thriller]",future|chase|post-apocalyptic|dystopia|australia,"[{""cast_id"": 2, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""577da370c3a36817f8003838"", ""de..."
2,262500,Insurgent,"[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, Science Fiction, Thriller]",based on novel|revolution|dystopia|sequel|dyst...,"[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...","[{""credit_id"": ""55c1cd8b9251410f1900448b"", ""de..."
3,168259,Furious 7,"[Deckard, Shaw, seeks, revenge, against, Domin...","[Action, Crime, Thriller]",car race|speed|revenge|suspense|car,"[{""cast_id"": 17, ""character"": ""Dominic Toretto...","[{""credit_id"": ""52fe4cc8c3a36847f823e699"", ""de..."
4,281957,The Revenant,"[In, the, 1820s,, a, frontiersman,, Hugh, Glas...","[Western, Drama, Adventure, Thriller]",father-son relationship|rape|based on novel|mo...,"[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...","[{""credit_id"": ""568fae529251411895001f8d"", ""de..."

In [60]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_10940\2480151099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)

,movie_id,title,overview,genres,keywords,cast_y,crew
0,135397,Jurassic World,"[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, Science Fiction, Thriller]","[monster, dna, tyrannosaurus rex, velociraptor...","[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
1,76341,Mad Max: Fury Road,"[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, Science Fiction, Thriller]","[future, chase, post-apocalyptic, dystopia, au...","[{""cast_id"": 2, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""577da370c3a36817f8003838"", ""de..."
2,262500,Insurgent,"[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, Science Fiction, Thriller]","[based on novel, revolution, dystopia, sequel,...","[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...","[{""credit_id"": ""55c1cd8b9251410f1900448b"", ""de..."
3,168259,Furious 7,"[Deckard, Shaw, seeks, revenge, against, Domin...","[Action, Crime, Thriller]","[car race, speed, revenge, suspense, car]","[{""cast_id"": 17, ""character"": ""Dominic Toretto...","[{""credit_id"": ""52fe4cc8c3a36847f823e699"", ""de..."
4,281957,The Revenant,"[In, the, 1820s,, a, frontiersman,, Hugh, Glas...","[Western, Drama, Adventure, Thriller]","[father-son relationship, rape, based on novel...","[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...","[{""credit_id"": ""568fae529251411895001f8d"", ""de..."

In [61]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [62]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [64]:
movies['cast'] = movies['cast_y'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast_y,crew,cast
0,135397,Jurassic World,"[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, Science Fiction, Thriller]","[monster, dna, tyrannosaurus rex, velociraptor...","[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de...","[Chris Pratt, Bryce Dallas Howard, Irrfan Khan..."
1,76341,Mad Max: Fury Road,"[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, Science Fiction, Thriller]","[future, chase, post-apocalyptic, dystopia, au...","[{""cast_id"": 2, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""577da370c3a36817f8003838"", ""de...","[Tom Hardy, Charlize Theron, Nicholas Hoult, H..."
2,262500,Insurgent,"[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, Science Fiction, Thriller]","[based on novel, revolution, dystopia, sequel,...","[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...","[{""credit_id"": ""55c1cd8b9251410f1900448b"", ""de...","[Shailene Woodley, Theo James, Kate Winslet, A..."
3,168259,Furious 7,"[Deckard, Shaw, seeks, revenge, against, Domin...","[Action, Crime, Thriller]","[car race, speed, revenge, suspense, car]","[{""cast_id"": 17, ""character"": ""Dominic Toretto...","[{""credit_id"": ""52fe4cc8c3a36847f823e699"", ""de...","[Vin Diesel, Paul Walker, Dwayne Johnson, Mich..."
4,281957,The Revenant,"[In, the, 1820s,, a, frontiersman,, Hugh, Glas...","[Western, Drama, Adventure, Thriller]","[father-son relationship, rape, based on novel...","[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...","[{""credit_id"": ""568fae529251411895001f8d"", ""de...","[Leonardo DiCaprio, Tom Hardy, Will Poulter, D..."

In [65]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [66]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [67]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [68]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast_y,crew,cast
473,13600,City of Ember,"[For, generations,, the, people, of, the, City...","[Adventure, Family, Fantasy]","[underground world, mayor, adventure, post-apo...","[{""cast_id"": 17, ""character"": ""Lina Mayfleet"",...",[Gil Kenan],"[Saoirse Ronan, Harry Treadaway, Mary Kay Place]"
938,7870,Down in the Valley,"[On, a, trip, to, the, beach,, a, teenage, gir...","[Drama, Romance]","[indian territory, beach, stetson, san fernand...","[{""cast_id"": 1, ""character"": ""Harlan"", ""credit...",[David Jacobson],"[Edward Norton, Evan Rachel Wood, David Morse]"
692,1024,Heavenly Creatures,"[Based, on, the, true, story, of, Juliet, Hulm...","[Drama, Fantasy]","[mother, sex, secret, obsession, literature]","[{""cast_id"": 7, ""character"": ""Pauline Parker R...",[Peter Jackson],"[Melanie Lynskey, Kate Winslet, Sarah Peirse]"
835,87421,Riddick,"[Betrayed, by, his, own, kind, and, left, for,...","[Science Fiction, Action, Thriller]","[dystopia, revenge, alien, planet, imax]","[{""cast_id"": 1, ""character"": ""Riddick"", ""credi...",[David Twohy],"[Vin Diesel, Karl Urban, Katee Sackhoff]"
907,142,Brokeback Mountain,"[Brokeback, Mountain, is, an, Ang, Lee, film, ...","[Drama, Romance]","[gay, countryside, homophobia, loss of lover, ...","[{""cast_id"": 11, ""character"": ""Ennis Del Mar"",...",[Ang Lee],"[Heath Ledger, Jake Gyllenhaal, Randy Quaid]"

In [69]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [70]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [71]:
movies.head()

,movie_id,title,overview,genres,keywords,cast_y,crew,cast
0,135397,Jurassic World,"[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, ScienceFiction, Thriller]","[monster, dna, tyrannosaurusrex, velociraptor,...","[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...",[ColinTrevorrow],"[ChrisPratt, BryceDallasHoward, IrrfanKhan]"
1,76341,Mad Max: Fury Road,"[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, ScienceFiction, Thriller]","[future, chase, post-apocalyptic, dystopia, au...","[{""cast_id"": 2, ""character"": ""Max Rockatansky""...",[GeorgeMiller],"[TomHardy, CharlizeTheron, NicholasHoult]"
2,262500,Insurgent,"[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, ScienceFiction, Thriller]","[basedonnovel, revolution, dystopia, sequel, d...","[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...",[RobertSchwentke],"[ShaileneWoodley, TheoJames, KateWinslet]"
3,168259,Furious 7,"[Deckard, Shaw, seeks, revenge, against, Domin...","[Action, Crime, Thriller]","[carrace, speed, revenge, suspense, car]","[{""cast_id"": 17, ""character"": ""Dominic Toretto...",[JamesWan],"[VinDiesel, PaulWalker, DwayneJohnson]"
4,281957,The Revenant,"[In, the, 1820s,, a, frontiersman,, Hugh, Glas...","[Western, Drama, Adventure, Thriller]","[father-sonrelationship, rape, basedonnovel, m...","[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...",[AlejandroGonzálezIñárritu],"[LeonardoDiCaprio, TomHardy, WillPoulter]"

In [73]:
def safe_split(text):
    if isinstance(text, list):
        return text
    if isinstance(text, str):
        return text.split()
    return []

movies['overview'] = movies['overview'].apply(safe_split)

In [74]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [75]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [76]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,cast_y,tags
0,135397,Jurassic World,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...",Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,"[{""cast_id"": 2, ""character"": ""Max Rockatansky""...",An apocalyptic story set in the furthest reach...
2,262500,Insurgent,"[{""cast_id"": 0, ""character"": ""Beatrice \""Tris\...",Beatrice Prior must confront her inner demons ...
3,168259,Furious 7,"[{""cast_id"": 17, ""character"": ""Dominic Toretto...",Deckard Shaw seeks revenge against Dominic Tor...
4,281957,The Revenant,"[{""cast_id"": 1, ""character"": ""Hugh Glass"", ""cr...","In the 1820s, a frontiersman, Hugh Glass, sets..."

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [78]:
vector = cv.fit_transform(new['tags']).toarray()

In [79]:
vector.shape

(1242, 5000)

In [80]:
from sklearn.metrics.pairwise import cosine_similarity

In [81]:
similarity = cosine_similarity(vector)

In [82]:
similarity

array([[1.        , 0.16178756, 0.1254363 , ..., 0.04089304, 0.        ,
        0.        ],
       [0.16178756, 1.        , 0.10050378, ..., 0.04914732, 0.        ,
        0.        ],
       [0.1254363 , 0.10050378, 1.        , ..., 0.04445542, 0.        ,
        0.        ],
       ...,
       [0.04089304, 0.04914732, 0.04445542, ..., 1.        , 0.11566299,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.11566299, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]], shape=(1242, 1242))

In [83]:
new[new['title'] == 'The Lego Movie'].index[0]

np.int64(104)

In [89]:
def recommend(movie):
    # Case-insensitive & partial match
    matches = new[new['title'].str.contains(movie, case=False, na=False)]
    
    if matches.empty:
        print(f"❌ Movie '{movie}' not found in database.")
        print("🔍 Try one of these similar titles:")
        print(new['title'].sample(5).values)
        return
    
    index = matches.index[0]

    distances = sorted(
        list(enumerate(similarity[index])),
        reverse=True,
        key=lambda x: x[1]
    )

    print(f"\n🎬 Recommended movies similar to '{matches.iloc[0]['title']}':\n")
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [90]:
recommend('Gandhi')

❌ Movie 'Gandhi' not found in database.
🔍 Try one of these similar titles:
['American Gangster' 'Fruitvale Station' 'The Wolfman' 'Collateral Damage'
 'Listening']

In [91]:
import pickle

In [92]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

# The End